.App {
  box-sizing: border-box;
  text-align: center;
  padding-top: 5rem;
}

.appointment-table {
  clear: both;
  box-sizing: border-box;
}

.login-doink {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

.login-card {
  width: 30%;
}

.load-container {
  width: 30%;
  padding-top: 5rem;
  text-align: center;
}