.Login {
  padding-top: 5rem;
  width: 30%;
}

.Signup {
  padding-top: 5rem;
  width: 30%;
}

.login-form {
  padding: 15px;
}

.name-input {
  width: 75%;
}

@media screen and (max-width: 950px) {
  .Login {
    width: 75%;
  }

  .login-card {
    width: 75%;
  }
}
